/dist
pwgo
pwgo.exe
.DS_Store

# Json-data-path example file
json-data-example.json

# Playwright
/tests
playwright*.config.ts
package.json
package-lock.json
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
